* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #38454f;
    background: linear-gradient(to left, #e08989, #f0adad);
    height: 100vh;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-right: 10%;
    gap: 20px;
}

ul li {
    margin: 5px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: 0.3s ease;
}
ul li a:hover {
    color: teal;
}